@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "CATS Goth";
    src: local("CATSchmalfetteThannhaeuser"), url(./assets/fonts/CATSchmalfetteThannhaeuser.ttf) format('opentype');
    font-weight: 100 1000;
}

body {
    background-color: white;
    color: black;
    font-family: "Roboto Mono", sans-serif;
}

.rotate-arrow {
    writing-mode: vertical-lr;
}